#about {
  padding: 5% 5%;
}
.tabular .item {
  background-color: #dcbe9c;
  opacity: 0.9;
  border: solid 2px #570008;
  padding: 0 2%;
}
.color-block {
  margin-top: 2%;
  background-color: #dcbe9c;
  border: solid 2px #570008;
  opacity: 0.9;
  min-height: 187px;
}

/* News section */

.news-img {
  float: left;
  margin-right: 2%;
  max-height: 187px;
}
.news-header {
  text-align: left;
  padding-top: 2%;
  margin-top: 0;
  margin-bottom: 2%;
}
.news-meta {
  text-align: left;
  margin-bottom: 5%;
  margin-right: 2%;
}

/* History section */

@import "../../node_modules/react-image-gallery/styles/css/image-gallery.css";
.image-gallery {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}
