#about {
  padding: 5% 5%;
}
.tabular .item {
  background-color: #dcbe9c;
  opacity: 0.9;
  border: solid 2px #570008;
  padding: 0 2%;
}
.news-block {
  margin-top: 2%;
  background-color: #dcbe9c;
  border: solid 2px #570008;
  opacity: 0.9;
  min-height: 187px;
}
.news-img {
  float: left;
  margin-right: 2%;
  max-height: 187px;
}
.news-header {
  text-align: left;
  padding-top: 2%;
  margin-top: 0;
  margin-bottom: 2%;
}
.news-meta {
  text-align: left;
  margin-bottom: 5%;
  margin-right: 2%;
}
